@model CoreIdentity.Models.MyUser
@{
    ViewData["Title"] = "Index";
}

<h1>My Profile Info</h1>

<table class="table align-items-center mb-0">
<tr>
    <td>Username:</td>
    <td>@Model.UserName</td>
</tr>
<tr>
    <td>Email:</td>
    <td>@Model.Email</td>
</tr>
<tr>
    <td>Image:</td>
    <td>@Model.ImageUrl</td>
</tr>
</table>